@using Dominio.EntidadesDominio

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/EstilosCita.css" rel="stylesheet" type="text/css" />

        <title> Valoracion Paciente </title>
    </head>

    <body class="Fondo">


        @{ 
            if (@ViewData["InfoError"] != null)
            {
                <script> 
                    alert("@ViewData["InfoError"]"); 
                </script>
            }

            if(ViewBag.NoHayCita != null)
            {
                <script>
                    alert("@ViewBag.NoHayCita");
                </script>
            }
        }

        @{ Html.BeginForm("vistaValoracionPaciente", "ValoracionPaciente"); }

        <div class="col-sm-3 offset-5 card">
            <div class="card-body text-center">
                <h5 align="center" class="card-title fa fa-search fa-lg"> Buscar Paciente </h5>
                <input name="cedula" value="" class="form-control" style="color:black">
                <input type="hidden" name="emailMedico" value="@Session["Email"]"/>
                <br />
                <button id="btnBuscar" class="btn btn-success btn-lg" align="center"> Buscar </button>
            </div>
        </div>

        <br />

        @{ Html.EndForm(); }

        @{
            if (@ViewData["InfoPaciente"] != null)
            {
                var datos = (Paciente)ViewData["InfoPaciente"];

                <div class="col-sm-10 offset-1 CajaTitulo">
                    <div class="text-center" style="color:beige">
                        <h3> Revision Paciente </h3>
                    </div>
                </div>

                <div class="row col-sm-10 offset-1 Caja">
                    <div class="col-sm-3 offset-1" style="margin-top: 1%">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Cedula</h5>
                                <input name="cedula" value="@datos.cedula" class="form-control" style="color:black" readonly="readonly" />

                                <br />

                                <h5 class="card-title">Nombre</h5>
                                <input name="nombre" value="@datos.nombre" class="form-control" style="color:black" readonly="readonly" />

                                <br />

                                <h5 class="card-title">Apellido</h5>
                                <input name="apellido" value="@datos.apellido" class="form-control" style="color:black" readonly="readonly" />

                                <br />

                                <h5 class="card-title">Edad</h5>
                                <input name="edad" value="@datos.edad" class="form-control" style="color:black" readonly="readonly" />

                                <br />

                                <h5 class="card-title">Direccion</h5>
                                <input name="direccion" value="@datos.direccion" class="form-control" style="color:black" readonly="readonly" />

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4" style="margin-top: 1%">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Invalidez</h5>
                                <input name="cedula" value="@datos.invalidez" class="form-control" style="color:black" readonly="readonly" />

                                <br />

                                <h5 class="card-title">Descripcion Solicitud</h5>
                                <textarea name="descripcion" class="form-control" style="color:black" readonly="readonly"> @datos.descripcion </textarea>

                            </div>
                        </div>
                    </div>
                    

                    <div class="col-sm-4" style="margin-top: 1%">
                        <div class="card">
                            <div class="card-body">

                                @{ Html.BeginForm("ComplementarInfoPaciente", "ValoracionPaciente"); }

                                <input name="cedula" value="@datos.cedula" type="hidden" />

                                <h5 class="card-title">Alergias</h5>
                                <input name="alergias" class="form-control" style="color:black" />

                                <br />

                                <h5 class="card-title">Rh</h5>
                                <input name="rh" class="form-control" style="color:black" />

                                <br />

                                <h5 class="card-title">Problemas Coronarios</h5>
                                <input name="problemasC" class="form-control" style="color:black" />

                                <button id="btnApto" class="btn btn-success btn-lg" align="center"> Apto </button>

                                @{ Html.EndForm(); }

                                @{ Html.BeginForm("DesaprobarPaciente", "ValoracionPaciente"); }

                                <button id="btnNoApto" class="btn btn-danger btn-lg" align="center" style="margin:4%"> No Apto </button>

                                @{ Html.EndForm(); }

                            </div>
                        </div>
                    </div>
                </div>
            }
        }



    </body>
</html>
